<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizador de Eventos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header>
        <div class="container">
            <a href="{{ url_for('index') }}" class="logo">MeuEvent.io</a>
            
            <nav>
                <a href="{{ url_for('lista_jogadores') }}">Jogadores</a>
                <a href="{{ url_for('lista_eventos') }}">Eventos</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

</body>
</html>